<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <!-- Your custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>
    <nav>
      <ul class="menu">
        {{ range .Site.Menus.main }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    <footer>
      <p>&copy; {{ now.Year }} Ivan Cintrón</p>
    </footer>
  </body>
</html>
